<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration debug="false">
    <!-- ConsoleAppender -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <!--<param name="Encoding" value="UTF-8" />-->
        <!-- ref.) attr : Encoding, ImmediateFlush, Target, Threshold -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d: %5p / %c] %m%n" />
        </layout>
    </appender>
    
    <!-- FileAppender -->
    <appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
        <!--<param name="Encoding" value="UTF-8" />-->
        <!--<param name="ImmediateFlush" value="true" />-->
        <!-- ref.) attr : FileAppender + DatePattern -->
        <param name="File" value="${catalina.home}/logs/console.log" />
        <param name="Append" value="true" />
        <!--
            SimpleDateFormat 을 따름. ex.) .yyyy-ww : 첫날 기준 매주마다,
            .yyyy-MM            : 월단위 
            .yyyy-MM-ww         : 주단위 
            .yyyy-MM-dd-a       : 12시간단위 
            .yyyy-MM-dd-HH      : 시간단위 
            .yyyy-MM-dd-HH-mm   : 매분마다
        -->
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
        </layout>
    </appender>

    <!-- java -->
    <logger name="dd2" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>
    
    <!-- sql -->
    <logger name="java.sql.Connection" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>

    <logger name="java.sql.Statement" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>

    <logger name="java.sql.PreparedStatement" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>

    <logger name="java.sql.ResultSet" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>             
    
    <!-- Transaction -->
    <logger name="org.springframework.orm.hibernate4.HibernateTransactionManager" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>

    <!-- servlet -->
    <logger name="org.springframework.web.servlet.DispatcherServlet" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>

    <!-- spring -->
    <logger name="org.springframework" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>

    <!-- security -->
    <logger name="org.springframework.security" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>

    <!-- hibernate -->
    <logger name="org.hibernate" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>

    <logger name="org.hibernate.tool.hbm2ddl" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>

    <logger name="org.hibernate.sql" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>

    <logger name="org.hibernate.cache" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console" />
    </logger>

    <!-- root -->
    <root>
    	<level value="INFO" />
        <appender-ref ref="dailyRollingFile"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>
